/* SETUP */

* { 
    margin: 0;
    padding: 0;
}

html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
    min-height: 100vh;
}

/* hra.html */

body {
    background: linear-gradient(#615dad, #ffc8da);
    background-repeat: no-repeat;
}

.game__heading {
    color: #ffffff;
    font-family: "Lobster", sans-serif;
    width: 100%;
    padding-bottom: 1.5rem;
    font-size: 2rem;
}

.game {
    max-width: 70vmin;
    display: grid;
    margin: 5rem auto;
}

.game__heading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
}

.game__buttons {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid rgb(40, 40, 40);
}

.button {
    aspect-ratio: 1/1;
    filter: opacity(0.6);
    border: 1px solid rgb(40, 40, 40);
}

.button:hover:focus:active{
    cursor: pointer;
    filter: opacity(0.8);
}

.game__stats {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-between;
}

.stats__player {
    display: flex;
    justify-content: flex-start;
    flex: 0 1 60%;
}

.stats__headline {
    font-family: sans-serif;
    text-transform: uppercase;
    color:white;
}

.stats__active {
    background-image: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 25%;
    padding: 1rem;   
}


.circle {
    background-image: url(images/circle.svg);
}

.cross {
    background-image: url(images/cross.svg);
}

.stats__icons {
    display: flex;
    justify-content: flex-end;
    flex: 0 1 40%;
}

.stats__home, .stats__restart {
    padding: 1rem;
    border-radius: 5%;
}

.stats__home{
    background-color: #1cbb96;
    margin: 0 1rem;
}

.stats__restart{
    background-color: #0090e9;
}

/*-------*/

.btn--cross {
    background-image: url(images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.btn--circle {
    background-image: url(images/circle.svg);
    background-repeat: no-repeat;
    background-position: center;
}